@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin:0;
    padding:0;
    user-select:none;
    font-family:'Kanit', sans-serif;
    letter-spacing: 0.5px;
    cursor: url("http://www.rw-designer.com/cursor-view/168734.png"), auto;
}